@model AeroFuelHub.Web.ViewModels.Profile.ProfileViewModel

@{
    ViewData["Title"] = "My Profile";
}

<div class="card">

    <div class="card-header">

        <h3 class="card-title">
            My Profile
        </h3>

    </div>

    <form method="post">

        <div class="card-body">

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label asp-for="FullName"></label>

                    <input asp-for="FullName" class="form-control" />

                </div>

                <div class="col-md-6 mb-3">

                    <label asp-for="Email"></label>

                    <input asp-for="Email" class="form-control" />

                </div>

                <div class="col-md-6 mb-3">

                    <label>Role</label>

                    <input value="@Model.Role" class="form-control" readonly />

                </div>

                @if (Model.Role == "AirlineExecutive")
                {
                    <div class="col-md-6 mb-3">

                        <label>Airline</label>

                        <input value="@Model.Airline" class="form-control" readonly />

                    </div>
                }

                @if (Model.Role == "FuelSupplyExecutive")
                {
                    <div class="col-md-6 mb-3">

                        <label>Fuel Company</label>

                        <input value="@Model.FuelCompany" class="form-control" readonly />

                    </div>
                }

                @if (Model.Role == "FuelCoordinator")
                {
                    <div class="col-md-6 mb-3">

                        <label>Airport</label>

                        <input value="@Model.Airport" class="form-control" readonly />

                    </div>
                }

            </div>

            <div class="card-footer">

                <button class="btn btn-primary">

                    Update Profile

                </button>

            </div>

    </form>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}